multi-language-input {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
multi-language-input[data-type='textarea'] > input {
    display: none;
}
multi-language-input[data-type='input'] > textarea {
    display: none;
}
multi-language-input > select {
    background-color: rgba(255, 255, 255, 0.1);
    direction: rtl;
    width: 200px;
}
